{% extends "inicio/index.html" %}
{% load static %}


{% block head_title %}
About Us
{% endblock head_title %}

{% block header_h1 %}
About Us
{% endblock header_h1 %}

{% block main %}

<p>
<h2>Our Story</h2>

<p>
    We are Dexter, a clothing brand born with the idea of offering unique and timeless garments. We believe that fashion is a form of expression and we want you to feel confident and comfortable in what you wear.
</p>

<p>
    Our collection is inspired by nature, art and travel. We use high-quality materials and sustainable production processes to create durable and environmentally friendly garments.
</p>

<h3>What makes us different?
</h3>
<ul>
    <li>Custom design: Each garment is designed with care and attention to detail. </li>
    <li>Superior quality: We use the highest quality materials to ensure the durability of our garments.</li>
    <li>Sustainability: We are committed to sustainable production and respect for the environment.</li>
    <li>Customer service: We are here to help you with whatever you need.</li>

</ul>

<p>
    <b>Join our community</b>
</p>

Follow us on our social networks to learn about the latest news and promotions.

</p>
{% endblock main %}