{% extends "inicio/index.html" %}
{% load static %}


{% block head_title %}
Add Clothes
{% endblock head_title %}

{% block header_h1 %}
Add Clothes
{% endblock header_h1 %}

{% block main %}

<form action="{% url "inicio:nueva_ropa" %}" method="POST">
    {% csrf_token %}
    <p>
        Type:
        <input type="text" name="type">
    </p>
    <p>
        Brand:
        <input type="text" name="brand">
    </p>
    <p>
        Size:
        <input type="text" name="size">
    </p>

    <button>Add</button>

</form>

{% endblock main %}